@import "tailwindcss";

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Apply animation */
.animate-scroll {
  display: flex;
  white-space: nowrap;
  animation: scroll 15s linear infinite;
}

/* Pause animation when hovered */
.pause-animation {
  animation-play-state: paused !important;
}

.custom-scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari */
}

.custom-scrollbar-hide {
  -ms-overflow-style: none;  /* Hide scrollbar for IE/Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* 👇 Add this */
@layer base {
  button {
    @apply cursor-pointer;
  }
}
